body {
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
font-weight: 300;
}

#container {
  width:1000px;
  margin:auto;
  margin-top:50px;
  position: relative;
}

#pokemon-search-form {
  width:500px;
  margin:auto;
  margin-top:50px;
}

#pokemon-search-input {
  font-size:3rem;
  border:3px
}

#pokemon-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 125px;
  width: 500px;
}

input:focus {
  outline: none;
}

.pokemon-container {
  float:left;
  width:250px;
  height:300px;
  margin:auto;
  position:relative;
  top: 0px;
}

#pokemon-container {

  float: left;
  position: absolute;
  top: 150px;
  z-index: 5;
}

.center-text {
  text-align: center;
  z-index: 5;
  top: 10px;
}

.title-text {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.pokemon-frame {
  width:230px;
  margin:10px;
}

.battle-frame-1 {
  width:300px;
  height:300px;
  margin: 0;
}

.battle-frame-2 {
  width:300px;
  height:300px;
  margin: 0;
  float: right;
}

#battle-container {
  height: 400px;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

#pokemon-1 {
  float: left;
  top: 0;
}

#pokemon-2 {
  top: 0;
}

#back {
  position: absolute;
  left: 100px;
  top: 75px;
  width: 250px;
}

#front {
  right: 125px;
  position: absolute;
  top: 0;
  width: 150px;
}

#back-name {
  z-index: 100;
  position: absolute;
  left: 10px;
  top: -8px;
}

#front-name {
  z-index: 100;
  position: absolute;
  right: 20px;
  top: -10px;
}

#health-2 {
  z-index: 100;
  position: absolute;
  right: 20px;
  top: 35px;
}

#health-1 {
  z-index: 100;
  position: absolute;
  left: 10px;
  top: 37px;
}

.move-container {
    width: 700px;
    height: 200px;
    /* background: white; */
    overflow-y: auto;
    position: absolute;
    top: 285px;
    left: 205px;
}

.move {
    float: left;
    bottom: 0;
    background-color: white;
    color: black;
    width: 300px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid #555555;
  }

#card {
  width:210px;
  height:300px;
  position:absolute;
  top: 10px;
  left: 10px;
  z-index: -5;
}

.name-frame-1 {
  float: left;
  bottom: 0;
  background-color: white;
  color: black;
  width: 300px;
  height: 65px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px solid #555555;
  position: absolute;
  left: 350px;
  top: 150px;
}

.name-frame-2 {
  float: left;
  bottom: 0;
  background-color: white;
  color: black;
  width: 300px;
  height: 65px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px solid #555555;
  position: absolute;
  right: 300px;
  top: 25px;
}

.pokemon-img {
    position: absolute;
    top: 75px;
}

.img-title {
  width:96px;
  margin:auto;
  z-index: -1;
}

#messageBox {
  position: absolute;
  text-align: center;
  left: 200px;
  top: 367px;
  z-index: 10;
  background-color: white;
  color: black;
  width: 610px;
  height: 114px;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  border: 2px solid #555555;
  visibility: hidden;
}

#score-container {
  position: absolute;
  top: 200px;
  width: 100%;
  z-index: -200;
}

#playername {
  position: absolute;
  left: 433px;
  text-align: center;
  top: 75px;
}

#submitName {
  left: 472px;
  top: 105px;
  text-align: center;
  position:absolute;
}

th, tr {
    margin: auto;
}

#score-header {
  text-align:center;

}

#CONTINUE {
  position:absolute;
  width: 100%;
  top: 25px;
  width: 100%;
}

#submit-score{
  position:absolute;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  top: 50px;
}

.individual-scores{
  text-align: center;
}

.score-names {
  text-align: center;
}
